<%- include('header') %>


<!-- Overlay effect when opening sidebar on small screens -->
<div class="w3-overlay w3-hide-large" onclick="w3_close()" style="cursor:pointer" title="close side menu" id="myOverlay"></div>

<!-- !PAGE CONTENT! -->
<div class="w3-main" style="margin-left:450px;margin-right:40px">



  <!-- Designers -->
  <div class="w3-container" id="designers" style="margin-top:10px">
    <h1 class="w3-xxxlarge w3-text-red"><b>Media X.</b></h1>
    <hr style="width:50px;border:5px solid red" class="w3-round">
    <p>Portal of pemilu.</p>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quas nobis hic, aliquid molestias reprehenderit vel? Delectus cum fuga sed tenetur minus est? Veniam neque ipsam consectetur quibusdam nihil enim asperiores recusandae, voluptatum deserunt exercitationem accusamus quasi atque quaerat maiores, expedita magnam voluptatem iure praesentium cum veritatis, fugiat nostrum at! Vel, dolore ratione nostrum commodi amet nihil, quibusdam asperiores, eos enim modi sunt! Odit molestiae aliquam amet blanditiis unde vel facere illo? Sequi dolorum necessitatibus consequuntur expedita, suscipit qui voluptates. Tempora unde maxime libero ex itaque fugiat nesciunt, illum sunt consequatur aliquid eius harum nihil illo blanditiis quibusdam ducimus ipsum, neque cum soluta quo sit totam quaerat. Iusto unde maxime delectus laboriosam amet. Magni, facere, ab earum non odit minima ipsa animi magnam molestias, hic laudantium atque vitae iusto cum ducimus? Quibusdam corrupti sed ipsa, reprehenderit, rem nisi numquam autem nam quod ipsum aperiam, maiores nesciunt eius et hic quam voluptatibus libero repellat debitis fuga quis. Minima odio eligendi, ea quasi facilis nihil! Quam neque accusantium assumenda corrupti cupiditate soluta beatae deserunt odit, itaque, similique aspernatur. Quisquam reiciendis suscipit ipsum fugiat esse libero iste, voluptates dolorem aperiam dolorum nam excepturi magnam, vitae, nesciunt facilis incidunt neque tempora? Debitis provident consequatur est ad porro modi, optio quae maiores quam nihil repellat! Pariatur velit deserunt incidunt labore impedit maiores sit cum ratione, alias repudiandae ducimus perferendis recusandae voluptas. Saepe veritatis fugit sequi adipisci quis quia velit earum ad nostrum quaerat. Eos repellat repellendus explicabo dolorum, eveniet doloremque tenetur sapiente? Nemo eius reiciendis laboriosam eos corrupti iste similique animi quod? Voluptatem, iste cupiditate vel laudantium at tempore possimus facere eligendi quasi inventore expedita facilis. Rerum consequuntur fugiat recusandae non deleniti minus autem in. Corporis nulla ea consectetur facilis iusto qui, est provident eius ut, tempora dignissimos laboriosam eos, sunt maiores id recusandae? Distinctio, culpa!
    </p>
    <p><b>Our designers are thoughtfully chosen</b>:</p>
  </div>

  <!-- The Team -->
  <div class="w3-row-padding w3-grayscale">
    <div class="w3-col m4 w3-margin-bottom">
      <div class="w3-light-grey">
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/e7/Alas_Purwo_banteng_close_up.jpg/1200px-Alas_Purwo_banteng_close_up.jpg" alt="John" style="width:100%; height: 300px">
        <div class="w3-container">
          <h3>Banteng Liar</h3>
          <p class="w3-opacity">CEO & Founder</p>
          <p>Phasellus eget enim eu lectus faucibus vestibulum. Suspendisse sodales pellentesque elementum.</p>
        </div>
      </div>
    </div>
    <div class="w3-col m4 w3-margin-bottom">
      <div class="w3-light-grey">
        <img src="https://jurnal.harianregional.com/wp-content/uploads/2022/08/Pohon-Beringin.jpg" alt="Jane" style="width:100%; height: 300px">
        <div class="w3-container">
          <h3>Poohon Teduh</h3>
          <p class="w3-opacity">Designer</p>
          <p>Phasellus eget enim eu lectus faucibus vestibulum. Suspendisse sodales pellentesque elementum.</p>
        </div>
      </div>
    </div>
    <div class="w3-col m4 w3-margin-bottom">
      <div class="w3-light-grey">
        <img src="https://awsimages.detik.net.id/community/media/visual/2020/09/16/alasan-orang-ogah-makan-kepala-ayam.jpeg?w=1234" alt="Mike" style="width:100%; height: 300px">
        <div class="w3-container">
          <h3>Kepala Ayam</h3>
          <p class="w3-opacity">Architect</p>
          <p>Phasellus eget enim eu lectus faucibus vestibulum. Suspendisse sodales pellentesque elementum.</p>
        </div>
      </div>
    </div>
  </div>

<%- include('footer') %>
